<div class="row">
  <div class="col-lg-{{ width || 6}} col-lg-offset-{{ getOffset() }} col-md-8 col-md-offset-2 col-xs-12">
    <div class="panel">
      <div class="panel-header">
        <h3 class="panel-title">
          {{ pageName }}
        </h3>
      </div>
      <div class="panel-content">
        <div class="row row-control">
          <div class="col-sm-6 pull-right text-right control-container">
            <button class="btn btn-defaut panel-control-btn">Nhập từ file</button>
            <button class="btn btn-primary panel-control-btn" (click)=add()>Thêm</button>
          </div>
          <div class="col-sm-3 pull-left control-container">
            <select name="selecter_basic" class="form-control form-control-sub sub-selector" (change)=onBulkAction($event)>
              <option value="">Chọn thao tác</option>
              <option value="delete">Xóa</option>
            </select>
          </div>
        </div>
        <im-table #dataTable [service]=mainService [columns]=columns [actions]=actions></im-table>
      </div>
    </div>
  </div>
</div>